.img img {
  height: 320px;
  width: 250px;
  transition: all 0.3s ease;
}

.img {
  list-style: none;
  color: white;
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}

.imgContent:hover{
    cursor: pointer;
    opacity: 70%;
    filter: saturate(100%);
    filter: brightness(50%);
    filter: hue-rotate(5deg);

}