* {
  font-family: var(--fuente);
}
.movieDetail {
  padding: 30px;
}

.poster {
  height: 200px;
}

p {
  color: white;
}

span {
  color: var(--color1);
}

.details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
  align-items: center;
}
.thumbnail {
  width: 700px;
  height: 400px;
}

.poster {
  max-width: 100%;
  height: 400px;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  flex-wrap: nowrap;
  justify-content: center;
  color: white;
  font-weight: 500;
  gap: 6px;
  list-style: none;
}

.name {
  color: var(--color1);
  font-size: 30px;
  font-weight: 600;
}

.actorDiv {
  display: flex;
  justify-content: center;
  gap: 30px;
  align-items: stretch;
  max-width: 100%;
  height: 200px;
}
