* {
  font-family: var(--fuente);
  list-style: none;
}
.movieDetail {
  padding: 30px;
}

.poster {
  height: 200px;
}

p {
  color: white;
}

span {
  color: var(--color1);
}

.details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
  align-items: center;
}
.thumbnail {
  border-radius: 10px;
  width: 700px;
  height: 400px;
}

.poster {
  border-radius: 10px;
  max-width: 100%;
  height: 400px;
}

.name {
  list-style: none;
  color: var(--color1);
  font-size: 30px;
  font-weight: 600;
}
.title {
  display: flex;
  color: white;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: flex-start;
  align-items: flex-start;
  gap: 4px;
}

.Sinopsis {
  padding-left: 300px;
  padding-right: 300px;
  padding-bottom: 15px;
  font-size: 9px;
}
.Sinopsis_title {
  color: var(--color1);
  font-size: 34px;
}
