* {
  font-family: var(--fuente);
}
.poster {
  height: 200px;
}

p {
  color: white;
}

span {
  color: var(--color1);
}

.details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
  align-items: center;
}
.thumbnail {
  max-width: 100%;
  height: 400px;
}

.poster {
  max-width: 100%;
  height: 375px;
}

.infoDiv {
  display: flex;
  gap: 20px;
}

.title {
  font-weight: bold;
}

.actorDiv {
  display: flex;
  gap: 20px;
  max-width: 100%;
  height: 200px;
}
