.container {
  background-color: var(--color2);
  max-width: 90%;
  margin: auto;
  padding: 1rem;
}

.imageContainer {
  background-color: white;
  margin: auto;
  width: 20rem;
  height: 20rem;
}

.imageContainer img {
  margin: auto;
  background-color: white;
  width: 100%;
  height: 20rem;
  object-fit: cover;
}

.inputSection {
  display: grid;
  padding: 1rem;
  gap: 1rem;
}
