.img img {
  height: 320px;
  width: 250px;
  transition: all 0.3s ease;
  border-radius: 20px;
}

.img {
  list-style: none;
  color: white;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  justify-items: center;
  gap: 60px;
  padding: 60px;
}

.imgContent:hover {
  cursor: pointer;
  opacity: 60%;
  filter: saturate(100%);
  filter: brightness(50%);
  filter: hue-rotate(5deg);
}
/* //////////Buttons section/////////// */
.button_card {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: baseline;
}

.buttons {
  display: flex;
  gap: 15px;
  font-size: 20px;
  transition: all 0.2s ease;
}
.add:hover {
  transition: all 0.2s ease;
  color: var(--color1);
}
.add {
  transition: all 0.2s ease;
}
.favorite {
  transition: all 0.2s ease;
  color: var(--color1);
}
.favorite:hover {
  color: white;
}
.delete:hover {
  transition: all 0.2s ease;
  color: var(--color1);
}
.MuiCircularProgress-root {
  color: white;
}

/* ///////////////////////////// */
.infoCard {
  display: flex;
  background-color: red;
}

@media (max-width: 976px) {
  .img {
    list-style: none;
    color: white;
    display: flex;
    flex-wrap: wrap;
    padding: 40px;
    justify-content: space-around;
  }
}
