.img img {
  height: 320px;
  width: 250px;
  transition: all 0.3s ease;
  border-radius: 20px;
}

.img {
  list-style: none;
  color: white;
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
  padding: 40px;
}

.imgContent:hover {
  cursor: pointer;
  opacity: 60%;
  filter: saturate(100%);
  filter: brightness(50%);
  filter: hue-rotate(5deg);
}

@media (max-width: 976px) {
  .img {
    list-style: none;
    color: white;
    display: flex;
    flex-wrap: wrap;
    padding: 40px;
    justify-content: space-around;
  }
}
